@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../font/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'HankenGrotesk-Medium';
    src: url(../font/Hanken_Grotesk/static/HankenGrotesk-Medium.ttf);
}

@font-face {
    font-family: 'HankenGrotesk-ExtraBold';
    src: url(../font/Hanken_Grotesk/static/HankenGrotesk-ExtraBold.ttf);
}

/*----------------------- index----------------- */


.sec-foter-bg {
    background-color: #000000;
    margin-top: 90px;
}

.sec-foot-pa {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
}

.sec-foot-p {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.sec-foot-p:hover {

    color: #FFFFFF;
}

.sec-foot-pa:hover {

    color: #FFFFFF;
}




@media (max-width:767px) {
    .sec-logo-white h1 {
        font-family: 'Hanken Grotesk';
        font-style: normal;
        font-weight: 600;
        font-size: 14px !important;
        line-height: 32px !important;
        color: #FFFFFF;
        padding-top: 15px;
    }
    
    element.style {
    }
    .sec-logo-white p {
        font-family: 'HankenGrotesk-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 0;
        color: #FFFFFF;
    
    }
    .sec-btn-a {
        font-family: 'HankenGrotesk-Medium';
        font-style: normal;
        font-weight: 700;
        font-size: 14px !important;
        line-height: 33px !important;
        color: #FFFFFF;
        background: #C75428;
        padding: 10px 30px;
        text-decoration: none;
    }
    .sec-how-h {
        font-family: 'HankenGrotesk-ExtraBold';
        font-style: normal;
        font-weight: 900;
        font-size: 28px !important;
        line-height: 109.8% !important;
        color: #000;
    }
    .sec-hero-h::before {
        content: "";
        position: absolute;
        background-image: url(../images/Group\ 33.1.png);
        background-repeat: no-repeat;
        height: 125px;
        width: 180px;
        margin-left: 34px;
        margin-top: 115px;
    }

    .sec-how-h {

        font-size: 26px;
        line-height: 109.8%;
        color: #023047;
    }
    .sec-logo-white{
        padding-bottom: 0px !important;
    }

    .sec-hero-h {

        font-size: 35px;
        line-height: 112.3%;
        text-transform: uppercase;
        color: #000000;
    }

    .sec-book-shadow {
        width: 100% !important;
        margin-top: -7% !important;
    }

    .sec-what-con {
        width: 85%;
    }

    .sec-what-h {
        font-size: 19px;
        line-height: 109.8%;
    }

    .sec-befo::before {
        display: none;
    }

    .sec-how-bg::after {
        display: none;
    }

    .sec-how-p::after {
        content: "";
        position: absolute;
        background-image: url(../images/aaaaLayer\ 0\ 1.png);
        background-repeat: no-repeat;
        height: 243px;
        width: 325px;
        margin-left: -118px;
        margin-top: 67px;
        background-size: 100%;
    }

    .sec-how-bg {
        background-color: #FF9721;
        padding-bottom: 14px;
    }

    .sec-ic-how {
        padding-top: 0px;
    }

    .sec-how-icon {
        font-size: 17px;
        line-height: 109.8%;
        margin: 0px;
    }

    .sec-how-icon-p {
        font-size: 11px !important;
        padding-left: 42px !important;
    }

    .sec-text-bef::before {
        content: "";
        position: absolute;
        color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        height: 178px !important;
        border: 1px solid rgb(255, 255, 255);
        margin-left: 17px !important;
        
    }
    .sec-text-bef{
        padding-top: 0px !important;
    }
    .sec-btn {
        font-family: 'Hanken Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 109.8%;
        text-align: center;
        color: #FFFFFF;
        background: #C75428;
        padding: 18px 70px !important;
        border: none;

    }

}

@media (max-width:1024px) {
    .sec-how-p::after {
        content: "";
        position: absolute;
        background-image: url(../images/aaaaLayer\ 0\ 1.png);
        background-repeat: no-repeat;
        height: 243px;
        width: 325px;
        margin-left: -118px;
        margin-top: 67px;
        background-size: 100%;
    }

    .sec-how-bg {
        background-color: #FF9721;
        padding-bottom: 14px;
    }

    .sec-befo::before {
        content: "";
        position: absolute;
        background: rgb(251 133 0 / 42%);
        filter: blur(72px);
        height: 124px;
        width: 180px;
        margin-left: 169px;
        margin-top: -181px;
        z-index: 1;
    }

    .sec-how-bg::after {
        content: "";
        position: absolute;
        background-image: url(../images/Group\ 23.png);
        background-repeat: no-repeat;
        height: 453px;
        width: 213px;
        margin-left: -12px;
        margin-top: -361px;
    }

    .sec-to-bg::before {
        display: none;
    }

    .sec-to-bg::after {
        display: none;
    }

    .sec-img {
        width: 100%;
    }

    .sec-img-r {
        width: 100%;
    }

    .sec-show {
        min-height: 500px !important;
    }
}

/*----------------------- index----------------- */
/* poppup */
.sec-ppppp{
    padding-left: 50px;
}
.sec-pop-bg {
    background-color: #C75428;
    border-radius: 16px;
}

.sec-pop {
    width: 80%;
}

.sec-head-home {
    background-color: #8080B9;
    margin: 0px;
}

a.dropdown-item {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-size: 22px;
    line-height: 20px;
    color: #023047 !important;
    padding: 10px 20px !important;
}

.sec-btn2 {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 180.55%;
    color: #C75428;
    background-color: #fff;
    padding: 2px 18px;
    border-radius: 5px;
    border: none;
    margin-left: 40px;
}

.sec-head-home h3 {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 15.4441px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
}

.sec-login {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background: #C75428;
    border-radius: 2px;
    padding: 5px 20px;
    text-decoration: none;
}

.sec-login:hover {
    color: #FFFFFF;
}

a.nav-link.sec-t {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-size: 22px;
    line-height: 20px;
    color: #023047 !important;
    padding: 0px 20px !important;
}

.sec-g-cat {
    background-image: url(../images/Group\ 82.png);
    background-repeat: no-repeat;
    height: 500px;
}

.sec-book-app {
    background-color: #fff !important;

    position: relative;
}


.sec-book-shadow {
    width: 60%;
    margin-top: -9%;
}

.sec-book-shadow::before {
    content: "";
    position: absolute;
    background-image: url(../images/Group\ 3.png);
    background-repeat: no-repeat;
    height: 79px;
    width: 115px;
    margin-left: 10px;
    margin-top: -68px;
}

.sec-what-h {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 109.8%;
    color: #000;
    text-align: center;
    padding-top: 80px;

}

.sec-what-p2 {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 109.8%;
    text-align: center;
    color: #000000;

}

.sec-book-p {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    line-height: 109.8%;
    color: #023047;

}

.sec-book-p2 {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 109.8%;
    color: #000000;
    text-align: center;
}

.sec-btn {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 109.8%;
    text-align: center;
    color: #FFFFFF;
    background: #C75428;
    padding: 21px 86px;
    border: none;

}

.sec-bg-boo {
    background-color: #8080B9;
}

.modal-body {
    padding-bottom: 0;
    padding-top: 0;
}

.sec-f-btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    background-color: #C75428;

}

.sec-book-h {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 136.55%;
    padding: 30px 45px;
    text-align: left;
    color: #fff;
}

.sec-what-h2 {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 109.8%;
    color: #000;
    text-align: center;
    padding-top: 20px;

}

.sec-text-bef::before {
    content: "";
    position: absolute;
    color: #000;
    background-repeat: no-repeat;
    height: 243px;
    border: 1px solid #000;
    margin-left: 17px;
    margin-top: 3px;
}

.sec-show {
    min-height: 570px;
}

.sec-text-bef {
    padding-top: 90px !important;
}

.sec-round {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 9px;
    color: #000;
    font-size: 17px;
    background-color: #fff;
}
.sec-round2 {
    border-radius: 30px;
    padding: 9px;
    color: #C75428;
    font-size: 17px;
    background-color: #fff;
}
.sec-how-h {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 57px;
    line-height: 109.8%;
    color: #000;
}

.sec-how-w {
    padding-top: 40px;
    width: 75%;
}

.sec-how-icon {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 109.8%;
    color: #213A3E;

}

.sec-how-icon-p {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 109.8%;
    color: #333333;
    padding-left: 57px;
}

.sec-z {
    position: relative;
    z-index: 10;
}

.sec-btn-ad {

    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;
    padding: 5px 20px;
    background: #C75428;
    border-radius: 2px;
    text-decoration: none;

}

.sec-btn-ad:hover {
    text-decoration: none;
    color: #fff;
}

.secready-h {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 109.8%;
    text-align: center;
    color: #000000;
    padding-top: 80px;

}


.sec-foot-h4 {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    padding-top: 40px;
    color: #C75428;

}

.sec-ft-p {

    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #FFFFFF;
}

.sec-icon {
    font-size: 22px;
    padding-left: 20px;

}

.sec-ft-p:hover {
    color: #FFFFFF;
}

.sec-pad {
    padding-left: 30px !important;
}

/* contact */

.sec-cont-h {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
}

.sec-padi {
    padding-top: 100px;
}

.sec-conta-h {

    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}

.sec-conta-p {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;
    color: #C75428;
    text-decoration: none;
}

/* -----about---------- */

.sec-about-bg {
    background-image: url(../images/Group\ 822.png);
    background-repeat: no-repeat;
    margin-top: 30px;
}

.sec-logo-white {
    padding-top: 55px;
    padding-left: 55px;
    padding-bottom: 145px;
}

.sec-logo-white h1 {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 59px;
    color: #FFFFFF;
    padding-top: 15px;
}

.sec-abot-p2 {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #333333;
    padding-top: 30px;
}

.sec-ab-p-w {
    width: 75%;
}

.sec-tho-h {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 59px;
    text-align: center;
    color: #000000;

}

.sec-ab-p {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.sec-btn-a {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;
    background: #C75428;
    padding: 10px 30px;
    text-decoration: none;

}

.sec-btn-a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/*----------------cat-training-------------- */
.sec-train-bg {
    background-image: url(../images/Rectangle\ 17.png);
    background-repeat: no-repeat;
    margin-top: 30px;
}

.sec-logo-white p {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;

}

.sec-train {

    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    padding-top: 30px;


}

.sec-tr-p {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #333333;
}

.sec-train-fo {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    padding: 30px 0px;

}

.sec-fri-p {

    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #333333;

}

.sec-fri-p2 {

    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;

}

.sec-pack {

    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.sec-pack-2 {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.sec-pack-price {

    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #C75428;
}

.sec-icon-pri {
    color: #C75428;
    font-size: 16px;
    padding-right: 10px;
}

.sec-price-p {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;

}

.sec-btn-pric-a {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #C75428;
    padding: 10px 80px;
    text-decoration: none;
}

.sec-btn-pric-a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.sec-colum {
    width: 60%;
}

/* ------refund------ */


.sec-refund-bg h2 {

    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

.sec-refund-bg p {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    text-decoration-line: underline;
    color: #333333;

}

.sec-ref-p {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #666666;

}

.sec-refund-w {
    width: 65%;
}

/* --------------career------------ */
.sec-caree-bg {
    background-image: url(../images/Rectangle\ 17c.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.sec-cresa-p {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
}

.sec-cree-pp {

    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    text-decoration: none !important;
    color: #333333;
}

.sec-form-w {
    width: 45%;
}

.sec-for-h {
    font-family: 'HankenGrotesk-ExtraBold';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 98.8%;
    color: #333333;
}

label {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 109.8%;
    color: #333333;
}

input.form-control {
    border-radius: 0;
    background-color: #f3f3f3;
}

.sec-btn-for {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #C75428;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;

}

/* -- review -- */

.sec-recv-p {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 109.8%;
    color: #023047;
}

.sec-recr-p2 {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 109.8%;
    color: #666666;

}

.sec-recv-p3 {

    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 129.3%;
    padding-top: 20px;
    color: #666666;

}

/* -------------PRIVACY POLICIES------------- */
.sec-privacy-h {
    font-family: 'HankenGrotesk-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
text-transform: uppercase;
    color: #000000;
}

.sec-privacy-p {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #666666;
}



/* ------------------Vet Consultation----------------------- */
.sec-vet-bg {
    background-image: url(../images/Rectangle\ 171.png);
    background-repeat: no-repeat;
    margin-top: 30px;
}